.home{
    width: 100vw;
    height: 100vh;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

main{
    width: 100%;
    height: 70vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    margin-top: 2rem;
    margin-left: auto;
    background: linear-gradient(#6f707254,#6f707254),url(../../src/Assets/background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    padding-top: 2rem;
}

.subTitle{
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.start-btn{
    padding: 1rem;
    background-color: #D9C029;
    border: none;
    border-radius: 20px;
    color: #f8f8f8;
}

.content{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 2rem;
}

.reccomend{
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px;
}
