*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-left: 50px;
    background: #3D39BD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}


.writting{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
    background-color: #fff;
}


.contentwrite{
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    /* align-items: center; */
}

.backhead{
    display: flex;
    /* padding: 10px; */
    align-items: center;
}

#user-img{
    height: 80px;
    width: 80px;
}

#img-icon{
    height: 40px;
    width: 40px;
    margin-right: 20px;
    background-color: #D9C029;
    padding: 5px;
    border-radius: 5px;
    /* margin-left: 550px; */
    cursor: pointer;
}

#img-icon:hover{
    background-color: #cdaf07;
    /* stroke:#fff; */
    fill: none;
}

#loca-img{
    height: 40px;
    width: 40px;
    margin-right: 15px;
    background-color: #D9C029;
    padding: 5px;
    border-radius: 5px;
    /* margin-left: 25px; */
    cursor: pointer;
}

#loca-img:hover{
    background-color: #cdaf07;
    /* stroke:#fff; */
    fill: none;
}


.btn-draft{
    padding: 10px;
    width: 100px;
    background: #D9C029; 
    border: none;
    border-radius: 10px;
    outline: none;
    cursor: pointer;  
    color: #000;
    font-family: Poppins;
    font-weight: bolder;
    cursor: pointer;
}

.btn-draft:hover{
    background: #cdaf07;
    color: #fff;
}

.writting h1{
    position: relative;
    align-self: center;
    font-size: 45px;
    font-weight: 500;
    color: black;
    font-family: Galindo;
}

.writehead{
    margin-left: 10px;
    /* margin-bottom: 10px; */
    padding: 5px;
    padding-left: 2.5rem;
    display: flex;
    justify-content: space-between;
}

#titleinput{
    color: #000;
    font-family: Hubballi;
    background-color: #ffffffe6;
    font-size: 24px;
    /* font-style: normal; */
    font-weight: 400;
    /* line-height: normal; */
    padding: 1rem;
    border-radius: 10px;
}

#write-blog{
    color: #000;
    font-family: Hubballi;
    background-color: #ffffffe6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 2rem;
    border-radius: 5px;
    margin-left: 50px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

#write-blog ::placeholder{
    font-size: 18px;
}

.writefooter{
    margin-top: 30px;
    display: flex;
    justify-content:flex-end;
    padding: 10px;
}

#btn-cancel{
    margin-left: 20px;
}

#btn-cancel:hover{
    color: red;
}