*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 10px 30px;
    background: #3D39BD;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    
}

nav.Navigation{
    position: fixed;
    width: 50%;
    height: 40px;
    /* margin-right: 0; */
    margin-left: 45%;
}

.write-blog {
    position: absolute;
    top: 10px;
    right: 300px;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    cursor: pointer;
}

.write-blog:hover {
    color: #fff;
    background: #453fe875;
    top: 0px;
    border-radius: 10px;
    padding: 5px;
    /* text-decoration: underline; */
}

.contact-us{
    position: absolute;
    top: 10px;
    right: 190px;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.contact-us:hover{
    color: #fff;
    background: #453fe875;
    top: 0px;
    border-radius: 10px;
    padding: 5px;
}

.Logo{
    font-size: 2em;
    color:#fff;
    user-select: none;
    margin-left: 25px;
}


/* #noti{
    position: absolute;
    width: 120px;
    height: 40px;
    padding: 0;
    top: 1px;
    right: 150px;
    width: 40px;
    height: 40px;
    background: transparent;
    border-radius: 154px;
} */

.btn-Login.btn.btn-secondary{
    position: absolute;
    margin: 0;
    width: 120px;
    height: 40px;
    padding: 0;
    top: 1px;
    right: 5px;
}