.search__bar{
    padding: 1rem 0.5rem;
    border-radius: 50px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    width: 30%;
    margin-top: 50px; 
    background-color: #332fab;
}

.search__icon{
    color: #f8f8f8;
}

.from__grop span{
    font-size: 1.8rem;
    color:#f8f8f8 ;
}

.from__grop input{
    width: 100%;
    border: none;
    font-size: .9rem;
    color: #f8f8f8;
    background-color: #332fab;
}

.from__grop ::placeholder{
    color: #f8f8f8bd;
}
.from__grop input::focus{
    outline: none;
}

.result{
    color: #f8f8f8;
    padding: 0.5rem;
}